/* src/App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  background-color: #f2f2f2;
  min-width: 40vw;
}

.title {
  font-size: 36px;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  background-color: lightgrey;
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.app-content {
  min-height: 100vh;
  background-color: #f2f2f2;
  padding: 20px;
  /* Light gray background */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.error-message {
  color: #ff0000;
  font-size: 14px;
  margin-top: 10px;
}

/* src/App.css */
/* ... existing styles ... */

.navigation-bar {
  background-color: #333;
  color: #fff;
}

.navigation-bar ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.navigation-bar li {
  margin-right: 20px;
}

.navigation-bar a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.navigation-bar a:hover {
  color: #007bff;
}